.Product {
  display: flex;
  flex: 4;
  padding: 2rem;
  /* align-items: center; */
  justify-content: space-between;
}
.Product button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: gray;
}
.Product button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  color: rgb(104, 6, 197);
  background-color: rgb(225, 194, 255);
  font-weight: 700;
  transition: all 0.2s;
}
.Product button:hover {
  background-color: rgb(104, 6, 197);
  color: rgb(225, 194, 255);
  transform: scale(1.2);
  
}
