.home {
  width: 80%;
  /* display: flex; */
  /* flex: 5; */
  /* grid-template-columns: auto auto auto; */
  gap: 3%;
  margin: 2% 3%;
}
.feature-container {
  /* width: 80%; */
  display: flex;
  flex: 5;
  /* grid-template-columns: auto auto auto; */
  gap: 3%;
  margin: 2% 3%;
}
.chart {
  /* margin: 1px; */
}
.widgets{
  display: flex;
}
